.parrafo,.title
{
	font-family: gudea-n4, sans-serif;
}

#u3242-4
{
	font-family: muli-n4, sans-serif;
}

#u3284-4
{
	font-family: muli-n4, sans-serif;
}

#u3271-4
{
	font-family: muli-n4, sans-serif;
}

#u3258-4
{
	font-family: muli-n4, sans-serif;
}

#u3252-4
{
	font-family: muli-n4, sans-serif;
}

#u3266-6
{
	font-family: muli-n4, sans-serif;
}

#u3276-4
{
	font-family: muli-n4, sans-serif;
}

#u3291-4
{
	font-family: muli-n4, sans-serif;
}

#u915-4,#u911-4,#u910-4
{
	font-family: muli-n3, sans-serif;
}

#u912-4
{
	font-family: muli-n3, sans-serif;
}

#u913-4
{
	font-family: muli-n3, sans-serif;
}

#u916-4,#u918-4
{
	font-family: muli-n3, sans-serif;
}

#u917-4
{
	font-family: muli-n3, sans-serif;
}

#u919-4
{
	font-family: muli-n3, sans-serif;
}

#u923-4,#u921-4
{
	font-family: muli-n3, sans-serif;
}

#u920-4
{
	font-family: muli-n3, sans-serif;
}

#u924-4
{
	font-family: muli-n3, sans-serif;
}

#u922-4
{
	font-family: muli-n3, sans-serif;
}

#u927-4,#u928-4
{
	font-family: muli-n3, sans-serif;
}

#u931-4,#u938-4
{
	font-family: muli-n3, sans-serif;
}

#u939-4
{
	font-family: muli-n3, sans-serif;
}

#u929-4,#u930-4
{
	font-family: muli-n3, sans-serif;
}

