.parrafo,.title
{
	font-family: gudea-n4, sans-serif;
}

#u3242-4
{
	font-family: muli-n4, sans-serif;
}

#u3284-4
{
	font-family: muli-n4, sans-serif;
}

#u3271-4
{
	font-family: muli-n4, sans-serif;
}

#u3258-4
{
	font-family: muli-n4, sans-serif;
}

#u3252-4
{
	font-family: muli-n4, sans-serif;
}

#u3266-6
{
	font-family: muli-n4, sans-serif;
}

#u3276-4
{
	font-family: muli-n4, sans-serif;
}

#u3291-4
{
	font-family: muli-n4, sans-serif;
}

#u2218-4,#u2216-4,#u2217-4
{
	font-family: muli-n3, sans-serif;
}

