.version.local_10 /* version checker */
{
	color: #00001D;
	background-color: #356A32;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 640px;
	min-height: 364.69999999999993px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
	padding: 129px 134px 6.300000000000068px 126px;
}

#u259
{
	z-index: 35;
	height: 76px;
	top: 0px;
}

#u259-bw
{
	z-index: 35;
}

#u260
{
	z-index: 36;
	width: 66px;
	top: 0px;
	left: 34px;
}

#menuu3237
{
	z-index: 42;
	width: 572px;
	top: 0px;
	left: 50%;
	margin-left: -269px;
}

#u3238
{
	width: 87px;
	min-height: 76px;
	margin-right: -10000px;
}

#u3241
{
	width: 87px;
	padding-bottom: 63px;
}

#u3242-4
{
	width: 54px;
	min-height: 13px;
	margin-right: -10000px;
	top: 31px;
	left: 16px;
}

#u3241:hover #u3242-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px -10000px 0px 0px;
}

#u3280
{
	width: 147px;
	min-height: 76px;
	margin-right: -10000px;
	left: 89px;
}

#u3283
{
	width: 147px;
	padding-bottom: 63px;
}

#u3284-4
{
	width: 114px;
	min-height: 13px;
	margin-right: -10000px;
	top: 31px;
	left: 16px;
}

#u3241.MuseMenuActive #u3242-4,#u3283:hover #u3284-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px -10000px 0px 0px;
}

#u3245
{
	width: 114px;
	min-height: 76px;
	margin-right: -10000px;
	left: 238px;
}

#u3269
{
	width: 114px;
	padding-bottom: 63px;
}

#u3271-4
{
	width: 81px;
	min-height: 13px;
	margin-right: -10000px;
	top: 31px;
	left: 16px;
}

#u3283.MuseMenuActive #u3284-4,#u3269:hover #u3271-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px -10000px 0px 0px;
}

#u3246
{
	width: 113px;
	top: 76px;
}

#u3256
{
	width: 113px;
	padding-bottom: 39px;
	margin-right: -10000px;
}

#u3256:hover
{
	margin: 0px -10000px 0px 0px;
}

#u3258-4
{
	width: 41px;
	min-height: 12px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 19px;
	left: 32px;
}

#u3256:hover #u3258-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 12px;
	margin: 0px -10000px 0px 0px;
}

#u3251
{
	width: 113px;
	padding-bottom: 39px;
	margin-right: -10000px;
}

#u3256.MuseMenuActive,#u3251:hover
{
	margin: 0px -10000px 0px 0px;
}

#u3252-4
{
	width: 98px;
	min-height: 12px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 19px;
	left: 4px;
}

#u3256.MuseMenuActive #u3258-4,#u3251:hover #u3252-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 12px;
	margin: 0px -10000px 0px 0px;
}

#u3251.MuseMenuActive #u3252-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 12px;
	margin: 0px -10000px 0px 0px;
}

#u3247,#u3255,#u3248,#u3262
{
	width: 113px;
}

#u3265
{
	width: 113px;
	padding-bottom: 27px;
	margin-right: -10000px;
}

#u3251.MuseMenuActive,#u3265:hover
{
	margin: 0px -10000px 0px 0px;
}

#u3265.MuseMenuActive
{
	margin: 0px -10000px 0px 0px;
}

#u3266-6
{
	width: 68px;
	min-height: 24px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 13px;
	left: 19px;
}

#u3265:hover #u3266-6
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 24px;
	margin: 0px -10000px 0px 0px;
}

#u3265.MuseMenuActive #u3266-6
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 24px;
	margin: 0px -10000px 0px 0px;
}

#u3273
{
	width: 121px;
	min-height: 76px;
	margin-right: -10000px;
	left: 354px;
}

#u3274
{
	width: 121px;
	padding-bottom: 63px;
}

#u3276-4
{
	width: 89px;
	min-height: 13px;
	margin-right: -10000px;
	top: 31px;
	left: 16px;
}

#u3269.MuseMenuActive #u3271-4,#u3274:hover #u3276-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px -10000px 0px 0px;
}

#u3287
{
	width: 95px;
	min-height: 76px;
	margin-right: -10000px;
	left: 477px;
}

#u3288
{
	width: 95px;
	padding-bottom: 63px;
}

#u3241.MuseMenuActive,#u3283.MuseMenuActive,#u3269.MuseMenuActive,#u3274.MuseMenuActive,#u3288:hover
{
	margin: 0px;
}

#u3291-4
{
	width: 63px;
	min-height: 13px;
	margin-right: -10000px;
	top: 31px;
	left: 16px;
}

#u3274.MuseMenuActive #u3276-4,#u3288:hover #u3291-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px -10000px 0px 0px;
}

#u3288.MuseMenuActive #u3291-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px -10000px 0px 0px;
}

#u1217
{
	z-index: 40;
	width: 40px;
	top: 18px;
	right: 23px;
}

#u1215
{
	z-index: 38;
	width: 40px;
	top: 18px;
	right: 23px;
}

#pu2298-4
{
	width: 0.01px;
	margin-left: 3px;
}

#u2298-4
{
	z-index: 31;
	width: 345px;
	min-height: 25px;
	background-color: transparent;
	font-size: 12px;
	color: #14ACC0;
	line-height: 14px;
	font-family: muli, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
}

#u2298
{
	color: #F15A24;
}

#u2296-4
{
	z-index: 23;
	width: 104px;
	min-height: 25px;
	background-color: transparent;
	line-height: 13px;
	font-size: 11px;
	color: #9C9C9F;
	text-align: right;
	font-family: muli, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 497px;
}

#u2294
{
	z-index: 21;
	width: 26px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 611px;
}

#u2297-4
{
	z-index: 27;
	width: 637px;
	background-color: transparent;
	line-height: 25px;
	font-size: 18px;
	color: #14ACC0;
	text-align: left;
	font-family: muli, sans-serif;
	font-weight: 300;
	margin-left: 3px;
	margin-top: 51px;
	position: relative;
}

#slideshowu2280
{
	z-index: 8;
	width: 0.01px;
	height: 420px;
	margin-top: 25px;
	position: relative;
}

#u2286
{
	position: absolute;
	width: 721px;
	height: 467px;
	background-color: #565656;
	background-color: rgba(68, 68, 68, 0.9);
	left: -36px;
	-pie-background: rgba(68, 68, 68, 0.9);
}

#u2286popup
{
	z-index: 9;
}

#u2287
{
	z-index: 10;
	width: 677px;
	height: 423px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u2291
{
	position: absolute;
	width: 640px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 280px;
}

#u3288.MuseMenuActive,#u1217:hover,#u2291:hover
{
	margin: 0px;
}

#u2291popup
{
	z-index: 11;
}

#u2292
{
	z-index: 12;
	width: 152px;
	height: 140px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 244px;
}

.ie #u2287,.ie #u2292
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u2292:hover
{
	border-color: #6B6B6B;
	opacity: 0.69;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=69)";
	filter: alpha(opacity=69);
	margin: 0px -10000px 0px 0px;
}

.ie #u2292:hover
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u2293-4
{
	position: absolute;
	width: 10px;
	min-height: 10px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	text-align: center;
	color: #14ACC0;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 200px;
	left: -52px;
}

#u2293-4popup
{
	z-index: 13;
}

#u2288-4
{
	position: absolute;
	width: 10px;
	min-height: 10px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	text-align: center;
	color: #14ACC0;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 200px;
	left: 670px;
}

#u2288-4popup
{
	z-index: 17;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u1796
{
	z-index: 2;
	width: 115px;
	bottom: 0px;
	right: 0px;
}

#u1798-4
{
	z-index: 4;
	width: 157px;
	min-height: 20px;
	margin-left: 262px;
	margin-top: 13px;
}

body
{
	position: relative;
	min-width: 900px;
}

#page .verticalspacer
{
	clear: both;
}

