.version._2010 /* version checker */
{
	color: #000017;
	background-color: #AEDDCE;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 157px;
	min-height: 20px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
	padding: 515px 355px 6px 388px;
}

#u75
{
	z-index: 4;
	height: 76px;
	top: 0px;
}

#u75-bw
{
	z-index: 4;
}

#u76
{
	z-index: 5;
	width: 66px;
	top: 0px;
	left: 34px;
}

#menuu1969
{
	z-index: 15;
	width: 572px;
	top: 0px;
	left: 50%;
	margin-left: -269px;
}

#u1970
{
	width: 87px;
	min-height: 76px;
	margin-right: -10000px;
}

#u1973
{
	width: 87px;
	padding-bottom: 63px;
}

#u1974-4
{
	width: 54px;
	min-height: 13px;
	margin-right: -10000px;
	top: 31px;
	left: 16px;
}

#u1973:hover #u1974-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px -10000px 0px 0px;
}

#u2012
{
	width: 147px;
	min-height: 76px;
	margin-right: -10000px;
	left: 89px;
}

#u2015
{
	width: 147px;
	padding-bottom: 63px;
}

#u2016-4
{
	width: 114px;
	min-height: 13px;
	margin-right: -10000px;
	top: 31px;
	left: 16px;
}

#u1973.MuseMenuActive #u1974-4,#u2015:hover #u2016-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px -10000px 0px 0px;
}

#u1977
{
	width: 114px;
	min-height: 76px;
	margin-right: -10000px;
	left: 238px;
}

#u2001
{
	width: 114px;
	padding-bottom: 63px;
}

#u2003-4
{
	width: 81px;
	min-height: 13px;
	margin-right: -10000px;
	top: 31px;
	left: 16px;
}

#u2015.MuseMenuActive #u2016-4,#u2001:hover #u2003-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px -10000px 0px 0px;
}

#u1978
{
	width: 113px;
	top: 76px;
}

#u1988
{
	width: 113px;
	padding-bottom: 39px;
	margin-right: -10000px;
}

#u1988:hover
{
	margin: 0px -10000px 0px 0px;
}

#u1990-4
{
	width: 41px;
	min-height: 12px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 19px;
	left: 32px;
}

#u1988:hover #u1990-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 12px;
	margin: 0px -10000px 0px 0px;
}

#u1983
{
	width: 113px;
	padding-bottom: 39px;
	margin-right: -10000px;
}

#u1988.MuseMenuActive,#u1983:hover
{
	margin: 0px -10000px 0px 0px;
}

#u1984-4
{
	width: 98px;
	min-height: 12px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 19px;
	left: 4px;
}

#u1988.MuseMenuActive #u1990-4,#u1983:hover #u1984-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 12px;
	margin: 0px -10000px 0px 0px;
}

#u1983.MuseMenuActive #u1984-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 12px;
	margin: 0px -10000px 0px 0px;
}

#u1979,#u1987,#u1980,#u1994
{
	width: 113px;
}

#u1997
{
	width: 113px;
	padding-bottom: 27px;
	margin-right: -10000px;
}

#u1983.MuseMenuActive,#u1997:hover
{
	margin: 0px -10000px 0px 0px;
}

#u1997.MuseMenuActive
{
	margin: 0px -10000px 0px 0px;
}

#u1998-6
{
	width: 68px;
	min-height: 24px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 13px;
	left: 19px;
}

#u1997:hover #u1998-6
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 24px;
	margin: 0px -10000px 0px 0px;
}

#u1997.MuseMenuActive #u1998-6
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 24px;
	margin: 0px -10000px 0px 0px;
}

#u2005
{
	width: 121px;
	min-height: 76px;
	margin-right: -10000px;
	left: 354px;
}

#u2006
{
	width: 121px;
	padding-bottom: 63px;
}

#u2008-4
{
	width: 89px;
	min-height: 13px;
	margin-right: -10000px;
	top: 31px;
	left: 16px;
}

#u2001.MuseMenuActive #u2003-4,#u2006:hover #u2008-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px -10000px 0px 0px;
}

#u2019
{
	width: 95px;
	min-height: 76px;
	margin-right: -10000px;
	left: 477px;
}

#u2020
{
	width: 95px;
	padding-bottom: 63px;
}

#u1973.MuseMenuActive,#u2015.MuseMenuActive,#u2001.MuseMenuActive,#u2006.MuseMenuActive,#u2020:hover
{
	margin: 0px;
}

#u2023-4
{
	width: 63px;
	min-height: 13px;
	margin-right: -10000px;
	top: 31px;
	left: 16px;
}

#u2006.MuseMenuActive #u2008-4,#u2020:hover #u2023-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px -10000px 0px 0px;
}

#u2020.MuseMenuActive #u2023-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px -10000px 0px 0px;
}

#u135
{
	z-index: 7;
	width: 40px;
	top: 18px;
	right: 23px;
}

#u137
{
	z-index: 9;
	width: 40px;
	top: 18px;
	right: 23px;
}

#u2020.MuseMenuActive,#u137:hover
{
	margin: 0px;
}

#u260
{
	z-index: 2;
	width: 115px;
	bottom: 0px;
	right: 0px;
}

#u252-4
{
	z-index: 11;
	width: 157px;
	min-height: 20px;
}

body
{
	position: relative;
	min-width: 900px;
}

#page .verticalspacer
{
	clear: both;
}

