#u1974-4
{
	font-family: muli-n4, sans-serif;
}

#u2016-4
{
	font-family: muli-n4, sans-serif;
}

#u2003-4
{
	font-family: muli-n4, sans-serif;
}

#u1990-4
{
	font-family: muli-n4, sans-serif;
}

#u1984-4
{
	font-family: muli-n4, sans-serif;
}

#u1998-6
{
	font-family: muli-n4, sans-serif;
}

#u2008-4
{
	font-family: muli-n4, sans-serif;
}

#u2023-4
{
	font-family: muli-n4, sans-serif;
}

#u937-5,#u935-4,#u936-4
{
	font-family: muli-n3, sans-serif;
}

