.version.index /* version checker */
{
	color: #0000E5;
	background-color: #E0933D;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 749px;
	min-height: 398.90219780219775px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
	padding: 136px 19px 6.0978021978022525px 132px;
}

#u75
{
	z-index: 4;
	height: 76px;
	top: 0px;
}

#u75-bw
{
	z-index: 4;
}

#u76
{
	z-index: 5;
	width: 66px;
	top: 0px;
	left: 34px;
}

#menuu1969
{
	z-index: 15;
	width: 572px;
	top: 0px;
	left: 50%;
	margin-left: -269px;
}

#u1970
{
	width: 87px;
	min-height: 76px;
	margin-right: -10000px;
}

#u1973
{
	width: 87px;
	padding-bottom: 63px;
}

#u1974-4
{
	width: 54px;
	min-height: 13px;
	margin-right: -10000px;
	top: 31px;
	left: 16px;
}

#u1973:hover #u1974-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px -10000px 0px 0px;
}

#u2012
{
	width: 147px;
	min-height: 76px;
	margin-right: -10000px;
	left: 89px;
}

#u2015
{
	width: 147px;
	padding-bottom: 63px;
}

#u2016-4
{
	width: 114px;
	min-height: 13px;
	margin-right: -10000px;
	top: 31px;
	left: 16px;
}

#u1973.MuseMenuActive #u1974-4,#u2015:hover #u2016-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px -10000px 0px 0px;
}

#u1977
{
	width: 114px;
	min-height: 76px;
	margin-right: -10000px;
	left: 238px;
}

#u2001
{
	width: 114px;
	padding-bottom: 63px;
}

#u2003-4
{
	width: 81px;
	min-height: 13px;
	margin-right: -10000px;
	top: 31px;
	left: 16px;
}

#u2015.MuseMenuActive #u2016-4,#u2001:hover #u2003-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px -10000px 0px 0px;
}

#u1978
{
	width: 113px;
	top: 76px;
}

#u1988
{
	width: 113px;
	padding-bottom: 39px;
	margin-right: -10000px;
}

#u1988:hover
{
	margin: 0px -10000px 0px 0px;
}

#u1990-4
{
	width: 41px;
	min-height: 12px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 19px;
	left: 32px;
}

#u1988:hover #u1990-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 12px;
	margin: 0px -10000px 0px 0px;
}

#u1983
{
	width: 113px;
	padding-bottom: 39px;
	margin-right: -10000px;
}

#u1988.MuseMenuActive,#u1983:hover
{
	margin: 0px -10000px 0px 0px;
}

#u1984-4
{
	width: 98px;
	min-height: 12px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 19px;
	left: 4px;
}

#u1988.MuseMenuActive #u1990-4,#u1983:hover #u1984-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 12px;
	margin: 0px -10000px 0px 0px;
}

#u1983.MuseMenuActive #u1984-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 12px;
	margin: 0px -10000px 0px 0px;
}

#u1979,#u1987,#u1980,#u1994
{
	width: 113px;
}

#u1997
{
	width: 113px;
	padding-bottom: 27px;
	margin-right: -10000px;
}

#u1983.MuseMenuActive,#u1997:hover
{
	margin: 0px -10000px 0px 0px;
}

#u1997.MuseMenuActive
{
	margin: 0px -10000px 0px 0px;
}

#u1998-6
{
	width: 68px;
	min-height: 24px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 13px;
	left: 19px;
}

#u1997:hover #u1998-6
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 24px;
	margin: 0px -10000px 0px 0px;
}

#u1997.MuseMenuActive #u1998-6
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 24px;
	margin: 0px -10000px 0px 0px;
}

#u2005
{
	width: 121px;
	min-height: 76px;
	margin-right: -10000px;
	left: 354px;
}

#u2006
{
	width: 121px;
	padding-bottom: 63px;
}

#u2008-4
{
	width: 89px;
	min-height: 13px;
	margin-right: -10000px;
	top: 31px;
	left: 16px;
}

#u2001.MuseMenuActive #u2003-4,#u2006:hover #u2008-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px -10000px 0px 0px;
}

#u2019
{
	width: 95px;
	min-height: 76px;
	margin-right: -10000px;
	left: 477px;
}

#u2020
{
	width: 95px;
	padding-bottom: 63px;
}

#u1973.MuseMenuActive,#u2015.MuseMenuActive,#u2001.MuseMenuActive,#u2006.MuseMenuActive,#u2020:hover
{
	margin: 0px;
}

#u2023-4
{
	width: 63px;
	min-height: 13px;
	margin-right: -10000px;
	top: 31px;
	left: 16px;
}

#u2006.MuseMenuActive #u2008-4,#u2020:hover #u2023-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px -10000px 0px 0px;
}

#u2020.MuseMenuActive #u2023-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px -10000px 0px 0px;
}

#u135
{
	z-index: 7;
	width: 40px;
	top: 18px;
	right: 23px;
}

#u137
{
	z-index: 9;
	width: 40px;
	top: 18px;
	right: 23px;
}

#u2020.MuseMenuActive,#u137:hover
{
	margin: 0px;
}

#u178-5
{
	z-index: 98;
	width: 345px;
	min-height: 25px;
	background-color: transparent;
	font-size: 16px;
	color: #14ACC0;
	line-height: 19px;
	font-family: muli, sans-serif;
	font-weight: 300;
	position: relative;
}

#u178-2
{
	color: #F15A24;
}

#pu172-4
{
	width: 0.01px;
	margin-top: 57px;
}

#u172-4
{
	z-index: 94;
	width: 51px;
	min-height: 25px;
	background-color: transparent;
	font-size: 16px;
	color: #14ACC0;
	line-height: 19px;
	font-family: muli, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
}

#u159-4
{
	z-index: 68;
	width: 692px;
	min-height: 20px;
	background-color: transparent;
	font-size: 12px;
	color: #A0A0A0;
	line-height: 14px;
	font-family: muli, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 57px;
}

#u159-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 1px -10000px 0px 0px;
}

#u165-7
{
	z-index: 80;
	width: 692px;
	min-height: 20px;
	background-color: transparent;
	font-size: 12px;
	color: #A0A0A0;
	line-height: 14px;
	font-family: muli, sans-serif;
	font-weight: 300;
	margin-left: 57px;
	margin-top: 5px;
	position: relative;
}

#u165-7:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 5px 0px 0px 57px;
}

#pu266-4
{
	width: 0.01px;
	margin-top: 5px;
}

#u266-4
{
	z-index: 110;
	width: 51px;
	min-height: 25px;
	background-color: transparent;
	font-size: 16px;
	color: #14ACC0;
	line-height: 19px;
	font-family: muli, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
}

#u168-7
{
	z-index: 87;
	width: 692px;
	min-height: 20px;
	background-color: transparent;
	font-size: 12px;
	color: #A0A0A0;
	line-height: 14px;
	font-family: muli, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 57px;
}

#u168-7:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 5px -10000px 0px 0px;
}

#pu267-4
{
	width: 0.01px;
}

#u267-4
{
	z-index: 114;
	width: 51px;
	min-height: 25px;
	background-color: transparent;
	font-size: 16px;
	color: #14ACC0;
	line-height: 19px;
	font-family: muli, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
}

#u161-4
{
	z-index: 72;
	width: 692px;
	min-height: 20px;
	background-color: transparent;
	font-size: 12px;
	color: #A0A0A0;
	line-height: 14px;
	font-family: muli, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	left: 57px;
}

#u161-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#u260
{
	z-index: 2;
	width: 115px;
	bottom: 0px;
	right: 0px;
}

#u183-4
{
	z-index: 76;
	width: 692px;
	min-height: 20px;
	background-color: transparent;
	font-size: 12px;
	color: #A0A0A0;
	line-height: 14px;
	font-family: muli, sans-serif;
	font-weight: 300;
	margin-left: 57px;
	margin-top: 9px;
	position: relative;
}

#u183-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 9px 0px 0px 57px;
}

#pu269-4
{
	width: 0.01px;
	margin-top: 31px;
}

#u269-4
{
	z-index: 118;
	width: 51px;
	min-height: 25px;
	background-color: transparent;
	font-size: 16px;
	color: #14ACC0;
	line-height: 19px;
	font-family: muli, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
}

#u190-7
{
	z-index: 103;
	width: 692px;
	min-height: 20px;
	background-color: transparent;
	font-size: 12px;
	color: #A0A0A0;
	line-height: 14px;
	font-family: muli, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 57px;
}

#u190-7:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 2px -10000px 0px 0px;
}

#u159-4:hover p,#u165-7:hover p,#u168-7:hover p,#u161-4:hover p,#u183-4:hover p,#u190-7:hover p
{
	color: #14ACC0;
	visibility: inherit;
}

#u252-4
{
	z-index: 11;
	width: 157px;
	min-height: 20px;
	margin-left: 256px;
	margin-top: 15px;
}

body
{
	position: relative;
	min-width: 900px;
}

#page .verticalspacer
{
	clear: both;
}

