.version.contacto /* version checker */
{
	color: #000015;
	background-color: #64F832;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 569.6334710743805px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
}

#page_position_content
{
	padding-top: 7px;
	padding-bottom: 15px;
}

#pu1848
{
	width: 0.01px;
	margin-left: 36px;
}

#u1848
{
	z-index: 8;
	width: 40px;
	margin-right: -10000px;
	margin-top: 18px;
	left: 286px;
}

#u1850
{
	z-index: 10;
	width: 40px;
	margin-right: -10000px;
	margin-top: 18px;
	left: 286px;
}

#u1850:hover
{
	margin: 18px -10000px 0px 0px;
}

#u1854
{
	z-index: 14;
	width: 40px;
	margin-right: -10000px;
	margin-top: 20px;
}

#u1846
{
	z-index: 6;
	width: 56px;
	margin-right: -10000px;
	left: 129px;
}

#u1853
{
	z-index: 13;
}

#u1853-bw
{
	z-index: 13;
	margin-top: 12px;
}

#u1666-4
{
	z-index: 16;
	width: 283px;
	min-height: 42px;
	background-color: transparent;
	line-height: 24px;
	text-align: center;
	margin-left: 48px;
	margin-top: 180px;
	position: relative;
}

#widgetu1667
{
	z-index: 20;
	width: 0.01px;
	height: 334px;
	margin-left: 20px;
	margin-top: 36px;
	position: relative;
}

#widgetu1674
{
	z-index: 21;
	width: 340px;
	height: 44px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#widgetu1674.fld-err-st
{
	background-color: transparent;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1676-4
{
	z-index: 22;
	width: 328px;
	min-height: 32px;
	border-style: none;
	border-color: transparent;
	background-color: #F2F2F2;
	padding: 6px;
	line-height: 14px;
	color: #C4C4C4;
	font-family: muli, sans-serif;
	font-weight: 300;
	font-style: normal;
	position: relative;
	margin-right: -10000px;
}

#widgetu1674.non-empty-st #u1676-4
{
	border-style: none;
	background-color: #FFFFFF;
}

#widgetu1674:hover #u1676-4
{
	border-width: 1px;
	border-style: solid;
	border-color: #F2F2F2;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 32px;
	width: 328px;
	margin: -1px -10001px -1px -1px;
}

#widgetu1674.focus-st #u1676-4
{
	border-width: 1px;
	border-style: solid;
	border-color: #F2F2F2;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 32px;
	width: 328px;
	margin: -1px -10001px -1px -1px;
}

#widgetu1674.non-empty-st #u1676-4 *
{
	color: #14ACC0;
	font-style: normal;
}

#widgetu1674:hover #u1676-4 *
{
	color: #14ACC0;
	font-style: normal;
}

#widgetu1674.focus-st #u1676-4 *
{
	color: #14ACC0;
	font-style: normal;
}

#widgetu1680
{
	z-index: 26;
	width: 340px;
	height: 44px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 51px;
}

#widgetu1680.fld-err-st
{
	background-color: transparent;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	margin: 51px -10000px 0px 0px;
}

#u1682-4
{
	z-index: 27;
	width: 328px;
	min-height: 32px;
	border-style: none;
	border-color: transparent;
	background-color: #F2F2F2;
	padding: 6px;
	line-height: 14px;
	color: #C4C4C4;
	font-family: muli, sans-serif;
	font-weight: 300;
	font-style: normal;
	position: relative;
	margin-right: -10000px;
}

#widgetu1680.non-empty-st #u1682-4
{
	border-style: none;
	background-color: #FFFFFF;
}

#widgetu1680:hover #u1682-4
{
	border-width: 1px;
	border-style: solid;
	border-color: #F2F2F2;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 32px;
	width: 328px;
	margin: -1px -10001px -1px -1px;
}

#widgetu1680.focus-st #u1682-4
{
	border-width: 1px;
	border-style: solid;
	border-color: #F2F2F2;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 32px;
	width: 328px;
	margin: -1px -10001px -1px -1px;
}

#widgetu1674.fld-err-st #u1676-4,#widgetu1680.fld-err-st #u1682-4
{
	border-style: none;
	border-color: transparent;
	background-color: #F2F2F2;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 32px;
	margin: 0px -10000px 0px 0px;
}

#widgetu1680.non-empty-st #u1682-4 *
{
	color: #14ACC0;
	font-style: normal;
}

#widgetu1680:hover #u1682-4 *
{
	color: #14ACC0;
	font-style: normal;
}

#widgetu1680.focus-st #u1682-4 *
{
	color: #14ACC0;
	font-style: normal;
}

#widgetu1674_input,#widgetu1674_prompt,#widgetu1680_input,#widgetu1680_prompt
{
	width: 328px;
	min-height: 32px;
	color: #C4C4C4;
	font-family: muli, sans-serif;
	font-style: normal;
	font-weight: 300;
	padding: 6px;
}

#u1673-4
{
	z-index: 31;
	width: 200px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	line-height: 14px;
	font-size: 12px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	font-style: normal;
	position: relative;
	margin-right: -10000px;
	margin-top: 231px;
	left: 140px;
}

#widgetu1667.frm-sub-st #u1673-4 p,#widgetu1667.frm-sub-st #u1673-4 span
{
	color: #999999;
	font-size: 14px;
	line-height: 1;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u1679-4
{
	z-index: 35;
	width: 200px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	line-height: 14px;
	font-size: 12px;
	color: #FF0000;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	font-style: normal;
	position: relative;
	margin-right: -10000px;
	margin-top: 231px;
	left: 140px;
}

#widgetu1667.frm-subm-err-st #u1679-4 p,#widgetu1667.frm-subm-err-st #u1679-4 span
{
	color: #D7244C;
	font-size: 14px;
	line-height: 1;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u1672-4
{
	z-index: 39;
	width: 200px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	line-height: 12px;
	font-size: 12px;
	color: #00FF00;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	font-style: normal;
	position: relative;
	margin-right: -10000px;
	margin-top: 231px;
	left: 140px;
}

#widgetu1667.frm-sub-st #u1673-4,#widgetu1667.frm-subm-err-st #u1679-4,#widgetu1667.frm-subm-ok-st #u1672-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	min-height: 25px;
}

#widgetu1667.frm-subm-ok-st #u1672-4 p,#widgetu1667.frm-subm-ok-st #u1672-4 span
{
	color: #999999;
	font-size: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u1673,#u1679,#u1672
{
	font-family: muli, sans-serif;
	font-weight: 300;
}

#u1678-17
{
	z-index: 43;
	min-height: 30px;
	width: 130px;
	position: relative;
	margin-right: -10000px;
	margin-top: 304px;
	left: 105px;
	background: url("../../images/u1678-17.png") no-repeat 0px 0px;
}

#u1678-17:hover
{
	background: url("../../images/u1678-17-r.png") no-repeat 0px 0px;
}

#u1678-17:active
{
	background: url("../../images/u1678-17-m.png") no-repeat 0px 0px;
}

#widgetu1667.frm-sub-st #u1678-17
{
	background: url("../../images/u1678-17-fs.png") no-repeat 0px 0px;
}

#widgetu1668
{
	z-index: 60;
	width: 340px;
	height: 179px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 101px;
}

#widgetu1668.fld-err-st
{
	background-color: transparent;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	margin: 101px -10000px 0px 0px;
}

#u1671-4
{
	z-index: 61;
	width: 328px;
	min-height: 167px;
	border-style: none;
	border-color: transparent;
	background-color: #F2F2F2;
	padding: 6px;
	line-height: 14px;
	color: #C4C4C4;
	font-family: muli, sans-serif;
	font-weight: 300;
	font-style: normal;
	position: relative;
	margin-right: -10000px;
}

#widgetu1668.non-empty-st #u1671-4
{
	border-style: none;
	background-color: #FFFFFF;
}

#widgetu1668:hover #u1671-4
{
	border-width: 1px;
	border-style: solid;
	border-color: #F2F2F2;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 167px;
	width: 328px;
	margin: -1px -10001px -1px -1px;
}

#widgetu1668.focus-st #u1671-4
{
	border-width: 1px;
	border-style: solid;
	border-color: #F2F2F2;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 167px;
	width: 328px;
	margin: -1px -10001px -1px -1px;
}

#widgetu1668.fld-err-st #u1671-4
{
	border-style: none;
	border-color: transparent;
	background-color: #F2F2F2;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 167px;
	margin: 0px -10000px 0px 0px;
}

#widgetu1668.non-empty-st #u1671-4 *
{
	color: #14ACC0;
	font-style: normal;
}

#widgetu1668:hover #u1671-4 *
{
	color: #14ACC0;
	font-style: normal;
}

#widgetu1668.focus-st #u1671-4 *
{
	color: #14ACC0;
	font-style: normal;
}

#widgetu1674.fld-err-st #u1676-4 *,#widgetu1680.fld-err-st #u1682-4 *,#widgetu1668.fld-err-st #u1671-4 *
{
	color: #D7244C;
	font-style: italic;
}

#widgetu1668_input,#widgetu1668_prompt
{
	width: 328px;
	min-height: 167px;
	color: #C4C4C4;
	font-family: muli, sans-serif;
	font-style: normal;
	font-weight: 300;
	padding: 6px;
}

#widgetu1674:hover #widgetu1674_input,#widgetu1674.focus-st #widgetu1674_input,#widgetu1674.fld-err-st #widgetu1674_input,#widgetu1674:hover #widgetu1674_prompt,#widgetu1674.focus-st #widgetu1674_prompt,#widgetu1674.fld-err-st #widgetu1674_prompt,#widgetu1680:hover #widgetu1680_input,#widgetu1680.focus-st #widgetu1680_input,#widgetu1680.fld-err-st #widgetu1680_input,#widgetu1680:hover #widgetu1680_prompt,#widgetu1680.focus-st #widgetu1680_prompt,#widgetu1680.fld-err-st #widgetu1680_prompt,#widgetu1668:hover #widgetu1668_input,#widgetu1668.focus-st #widgetu1668_input,#widgetu1668.fld-err-st #widgetu1668_input,#widgetu1668:hover #widgetu1668_prompt,#widgetu1668.focus-st #widgetu1668_prompt,#widgetu1668.fld-err-st #widgetu1668_prompt
{
	padding-top: 6px;
	padding-bottom: 6px;
}

#widgetu1674.non-empty-st #widgetu1674_prompt,#widgetu1680.non-empty-st #widgetu1680_prompt,#widgetu1668.non-empty-st #widgetu1668_prompt
{
	visibility: hidden;
}

#u1684-6
{
	z-index: 65;
	width: 313px;
	min-height: 82px;
	background-color: transparent;
	color: #14ACC0;
	text-align: center;
	font-family: muli, sans-serif;
	font-weight: 300;
	margin-left: 33px;
	margin-top: 36px;
	position: relative;
}

#u1852,#u1852-bw
{
	z-index: 12;
}

#u1845-4
{
	z-index: 2;
	width: 157px;
	min-height: 20px;
	margin-left: 112px;
	margin-top: 22px;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
}

