.parrafo,.title
{
	font-family: gudea-n4, sans-serif;
}

#u1676-4
{
	font-family: muli-n3, sans-serif;
}

#u1682-4
{
	font-family: muli-n3, sans-serif;
}

#u1673,#u1679,#u1672,#u1671-4
{
	font-family: muli-n3, sans-serif;
}

#widgetu1674_input,#widgetu1674_prompt,#widgetu1680_input,#widgetu1680_prompt,#widgetu1668_input,#widgetu1668_prompt
{
	font-family: muli, sans-serif;
}

#u1684-6
{
	font-family: muli-n3, sans-serif;
}

