.version.index /* version checker */
{
	color: #0000FD;
	background-color: #47DE0F;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 555px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-top: 10px;
	padding-bottom: 5px;
}

#u1529
{
	z-index: 6;
	width: 66px;
	margin-left: 157px;
}

#menuu1427
{
	z-index: 12;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u1480-4
{
	min-height: 19px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	color: #B4B4B4;
	text-align: center;
	font-family: muli, sans-serif;
	font-weight: 400;
	position: relative;
	top: 29px;
}

#u1478:hover #u1480-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px;
}

#u1478:hover #u1480-4 p
{
	color: #14ACC0;
	visibility: inherit;
}

#u1474-4
{
	min-height: 19px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	color: #B4B4B4;
	text-align: center;
	font-family: muli, sans-serif;
	font-weight: 400;
	position: relative;
	top: 29px;
}

#u1478.MuseMenuActive #u1480-4,#u1473:hover #u1474-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px;
}

#u1473:hover #u1474-4 p
{
	color: #14ACC0;
	visibility: inherit;
}

#u1478,#u1473,#u1452
{
	min-height: 19px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 58px;
	position: relative;
}

#u1455-4
{
	min-height: 19px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	color: #B4B4B4;
	text-align: center;
	font-family: muli, sans-serif;
	font-weight: 400;
	position: relative;
	top: 29px;
}

#u1473.MuseMenuActive #u1474-4,#u1452:hover #u1455-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px;
}

#u1452:hover #u1455-4 p
{
	color: #14ACC0;
	visibility: inherit;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#menuu1427-bw
{
	z-index: 12;
	margin-top: 49px;
	height: 235px;
}

#pu1840-4
{
	width: 0.01px;
	margin-left: 35px;
	margin-top: 23px;
}

#u1840-4
{
	z-index: 44;
	width: 91px;
	min-height: 24px;
	background-color: transparent;
	line-height: 18px;
	font-size: 15px;
	color: #14ACC0;
	text-align: center;
	font-family: muli, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u1841-4
{
	z-index: 48;
	width: 91px;
	min-height: 24px;
	background-color: transparent;
	line-height: 18px;
	font-size: 15px;
	color: #14ACC0;
	text-align: center;
	font-family: muli, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 120px;
}

#u1842-4
{
	z-index: 52;
	width: 91px;
	min-height: 24px;
	background-color: transparent;
	line-height: 18px;
	font-size: 15px;
	color: #14ACC0;
	text-align: center;
	font-family: muli, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 236px;
}

#u1840-4:hover,#u1841-4:hover,#u1842-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	margin: 0px -10000px 0px 0px;
}

#u1840-4:hover p,#u1841-4:hover p,#u1842-4:hover p
{
	color: #FF9221;
	visibility: inherit;
}

#menuu1804
{
	z-index: 31;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u1477,#u1833
{
	background-color: transparent;
}

#u1836
{
	min-height: 19px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 55px;
	position: relative;
}

#u1837-4
{
	min-height: 19px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	color: #B4B4B4;
	text-align: center;
	font-family: muli, sans-serif;
	font-weight: 400;
	position: relative;
	top: 27px;
}

#u1452.MuseMenuActive #u1455-4,#u1836:hover #u1837-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px;
}

#u1836:hover #u1837-4 p
{
	color: #14ACC0;
	visibility: inherit;
}

#u1470,#u1428,#u1826
{
	background-color: transparent;
	margin-top: 2px;
}

#u1829
{
	min-height: 19px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 55px;
	position: relative;
}

#u1452.MuseMenuActive,#u1836.MuseMenuActive,#u1829:hover
{
	margin: 0px;
}

#u1830-4
{
	min-height: 19px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	color: #B4B4B4;
	text-align: center;
	font-family: muli, sans-serif;
	font-weight: 400;
	position: relative;
	top: 27px;
}

#u1836.MuseMenuActive #u1837-4,#u1829:hover #u1830-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px;
}

#u1829.MuseMenuActive #u1830-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px;
}

#u1829:hover #u1830-4 p
{
	color: #14ACC0;
	visibility: inherit;
}

#u1478.MuseMenuActive #u1480-4 p,#u1473.MuseMenuActive #u1474-4 p,#u1452.MuseMenuActive #u1455-4 p,#u1836.MuseMenuActive #u1837-4 p,#u1829.MuseMenuActive #u1830-4 p
{
	color: #F77F1E;
	visibility: inherit;
}

#menuu1804-bw
{
	z-index: 31;
	margin-top: 25px;
	height: 150px;
}

#u1843
{
	z-index: 56;
	width: 20px;
	height: 18px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-left: 190px;
	margin-top: 2px;
	position: relative;
}

#pu1531
{
	width: 0.01px;
	margin-left: 170px;
	margin-top: 37px;
}

#u1531
{
	z-index: 8;
	width: 40px;
	margin-right: -10000px;
}

#u1533
{
	z-index: 10;
	width: 40px;
	margin-right: -10000px;
}

#u1533:hover
{
	margin: 0px -10000px 0px 0px;
}

#u1528-4
{
	z-index: 2;
	width: 157px;
	min-height: 20px;
	margin-left: 111px;
	margin-top: 30px;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
}

