.version.index /* version checker */
{
	color: #0000FC;
	background-color: #78E20D;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 569.9334710743807px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
}

#page_position_content
{
	padding-top: 7px;
	padding-bottom: 15px;
}

#pu2910
{
	width: 0.01px;
	margin-left: 36px;
}

#u2910
{
	z-index: 12;
	width: 40px;
	margin-right: -10000px;
	margin-top: 18px;
	left: 286px;
}

#u2912
{
	z-index: 14;
	width: 40px;
	margin-right: -10000px;
	margin-top: 18px;
	left: 286px;
}

#u2912:hover
{
	margin: 18px -10000px 0px 0px;
}

#u3234
{
	z-index: 112;
	width: 40px;
	margin-right: -10000px;
	margin-top: 20px;
}

#u2904
{
	z-index: 10;
	width: 56px;
	margin-right: -10000px;
	left: 129px;
}

#u2901
{
	z-index: 17;
}

#u2901-bw
{
	z-index: 17;
	margin-top: 12px;
}

#u2902-4
{
	z-index: 2;
	width: 345px;
	min-height: 25px;
	margin-left: 18px;
	margin-top: 39px;
}

#pu2934-4
{
	width: 0.01px;
	margin-left: 14px;
	margin-top: 14px;
}

#u2934-4
{
	z-index: 82;
	width: 51px;
	min-height: 25px;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	color: #14ACC0;
	font-family: muli, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
}

#u2921-4
{
	z-index: 18;
	width: 295px;
	min-height: 24px;
	background-color: transparent;
	line-height: 14px;
	font-size: 12px;
	color: #A0A0A0;
	font-family: muli, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 57px;
}

#u2921-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	margin: 1px -10000px 0px 0px;
}

#u2927-6
{
	z-index: 44;
	width: 281px;
	min-height: 31px;
	background-color: transparent;
	line-height: 14px;
	font-size: 12px;
	color: #A0A0A0;
	font-family: muli, sans-serif;
	font-weight: 300;
	margin-left: 71px;
	margin-top: 6px;
	position: relative;
}

#u2927-6:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 31px;
	margin: 6px 0px 0px 71px;
}

#u2930-6
{
	z-index: 60;
	width: 295px;
	min-height: 32px;
	background-color: transparent;
	line-height: 14px;
	font-size: 12px;
	color: #A0A0A0;
	font-family: muli, sans-serif;
	font-weight: 300;
	margin-left: 71px;
	margin-top: 7px;
	position: relative;
}

#u2930-6:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 32px;
	margin: 7px 0px 0px 71px;
}

#pu2935-4
{
	width: 0.01px;
	margin-left: 14px;
	margin-top: 45px;
}

#u2935-4
{
	z-index: 86;
	width: 51px;
	min-height: 25px;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	color: #14ACC0;
	font-family: muli, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
}

#u2928-4
{
	z-index: 50;
	width: 281px;
	min-height: 20px;
	background-color: transparent;
	line-height: 14px;
	font-size: 12px;
	color: #A0A0A0;
	font-family: muli, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 57px;
}

#u2922-4
{
	z-index: 22;
	width: 281px;
	min-height: 20px;
	background-color: transparent;
	line-height: 14px;
	font-size: 12px;
	color: #A0A0A0;
	font-family: muli, sans-serif;
	font-weight: 300;
	margin-left: 71px;
	margin-top: 8px;
	position: relative;
}

#u2922-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 8px 0px 0px 71px;
}

#u2931-4
{
	z-index: 66;
	width: 281px;
	min-height: 20px;
	background-color: transparent;
	line-height: 14px;
	font-size: 12px;
	color: #A0A0A0;
	font-family: muli, sans-serif;
	font-weight: 300;
	margin-left: 71px;
	margin-top: 10px;
	position: relative;
}

#u2931-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 10px 0px 0px 71px;
}

#pu2936-4
{
	width: 0.01px;
	margin-left: 14px;
	margin-top: 55px;
}

#u2936-4
{
	z-index: 90;
	width: 51px;
	min-height: 25px;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	color: #14ACC0;
	font-family: muli, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
}

#u2929-6
{
	z-index: 54;
	width: 295px;
	min-height: 36px;
	background-color: transparent;
	line-height: 14px;
	font-size: 12px;
	color: #A0A0A0;
	font-family: muli, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 57px;
}

#u2929-6:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 36px;
	margin: 3px -10000px 0px 0px;
}

#u2932-6
{
	z-index: 70;
	width: 295px;
	min-height: 38px;
	background-color: transparent;
	line-height: 14px;
	font-size: 12px;
	color: #A0A0A0;
	font-family: muli, sans-serif;
	font-weight: 300;
	margin-left: 71px;
	position: relative;
}

#u2933-6
{
	z-index: 76;
	width: 295px;
	min-height: 38px;
	background-color: transparent;
	line-height: 14px;
	font-size: 12px;
	color: #A0A0A0;
	font-family: muli, sans-serif;
	font-weight: 300;
	margin-left: 71px;
	position: relative;
}

#u2932-6:hover,#u2933-6:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 38px;
	margin: 0px 0px 0px 71px;
}

#u2923-4
{
	z-index: 26;
	width: 295px;
	min-height: 36px;
	background-color: transparent;
	line-height: 14px;
	font-size: 12px;
	color: #A0A0A0;
	font-family: muli, sans-serif;
	font-weight: 300;
	margin-left: 71px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#u2923-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 36px;
	margin: 0px 0px -1px 71px;
}

#pu2937-4
{
	width: 0.01px;
	margin-left: 14px;
	margin-top: 40px;
}

#u2937-4
{
	z-index: 94;
	width: 51px;
	min-height: 25px;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	color: #14ACC0;
	font-family: muli, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
}

#u2924-6
{
	z-index: 30;
	width: 299px;
	min-height: 37px;
	background-color: transparent;
	line-height: 14px;
	font-size: 12px;
	color: #A0A0A0;
	font-family: muli, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 57px;
}

#u2924-6:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 37px;
	margin: 3px -10000px 0px 0px;
}

#pu2938-4
{
	width: 0.01px;
	margin-left: 14px;
	margin-top: 52px;
}

#u2938-4
{
	z-index: 98;
	width: 51px;
	min-height: 25px;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	color: #14ACC0;
	font-family: muli, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
}

#u2926-4
{
	z-index: 40;
	width: 295px;
	min-height: 20px;
	background-color: transparent;
	line-height: 14px;
	font-size: 12px;
	color: #A0A0A0;
	font-family: muli, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 57px;
}

#u2928-4:hover,#u2926-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 3px -10000px 0px 0px;
}

#u2940-6
{
	z-index: 106;
	width: 295px;
	min-height: 38px;
	background-color: transparent;
	line-height: 14px;
	font-size: 12px;
	color: #A0A0A0;
	font-family: muli, sans-serif;
	font-weight: 300;
	margin-left: 71px;
	margin-top: 12px;
	position: relative;
}

#u2940-6:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 38px;
	margin: 12px 0px 0px 71px;
}

#pu2939-4
{
	width: 0.01px;
	margin-left: 14px;
	margin-top: 28px;
}

#u2939-4
{
	z-index: 102;
	width: 51px;
	min-height: 25px;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	color: #14ACC0;
	font-family: muli, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
}

#u2925-4
{
	z-index: 36;
	width: 304px;
	min-height: 64px;
	background-color: transparent;
	line-height: 14px;
	font-size: 12px;
	color: #A0A0A0;
	font-family: muli, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 57px;
}

#u2925-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 64px;
	margin: 4px -10000px 0px 0px;
}

#u2921-4:hover p,#u2927-6:hover p,#u2930-6:hover p,#u2928-4:hover p,#u2922-4:hover p,#u2931-4:hover p,#u2929-6:hover p,#u2932-6:hover p,#u2933-6:hover p,#u2923-4:hover p,#u2924-6:hover p,#u2926-4:hover p,#u2940-6:hover p,#u2925-4:hover p
{
	color: #14ACC0;
	visibility: inherit;
}

#u2906
{
	z-index: 16;
}

#u2906-bw
{
	z-index: 16;
	margin-top: 2px;
}

#u2909-4
{
	z-index: 6;
	width: 157px;
	min-height: 20px;
	margin-left: 112px;
	margin-top: 22px;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
}

