.version.rbt /* version checker */
{
	color: #0000FA;
	background-color: #F526D1;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 570px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
}

#page_position_content
{
	padding-top: 7px;
	padding-bottom: 14px;
}

#pu2561
{
	width: 0.01px;
	margin-left: 31px;
}

#u2561
{
	z-index: 18;
	width: 40px;
	margin-right: -10000px;
	margin-top: 18px;
	left: 291px;
}

#u2563
{
	z-index: 20;
	width: 40px;
	margin-right: -10000px;
	margin-top: 18px;
	left: 291px;
}

#u2563:hover
{
	margin: 18px -10000px 0px 0px;
}

#u3227
{
	z-index: 61;
	width: 40px;
	margin-right: -10000px;
	margin-top: 18px;
}

#u2559
{
	z-index: 16;
	width: 56px;
	margin-right: -10000px;
	left: 134px;
}

#u2566
{
	z-index: 23;
}

#u2566-bw
{
	z-index: 23;
	margin-top: 12px;
}

#u2557-4
{
	z-index: 8;
	width: 345px;
	min-height: 25px;
	margin-left: 18px;
	margin-top: 39px;
}

#u3038-6
{
	z-index: 55;
	width: 362px;
	min-height: 59px;
	background-color: transparent;
	color: #14ACC0;
	text-align: center;
	font-family: muli, sans-serif;
	font-weight: 300;
	margin-left: 9px;
	margin-top: 5px;
	position: relative;
}

#u3038-2
{
	font-size: 18px;
	line-height: 25px;
}

#u3038-4
{
	font-size: 13px;
	line-height: 18px;
}

#slideshowu3002
{
	z-index: 24;
	width: 0.01px;
	height: 342px;
	margin-left: 17px;
	position: relative;
}

#u3027
{
	position: absolute;
	width: 721px;
	height: 467px;
	background-color: #565656;
	background-color: rgba(68, 68, 68, 0.9);
	left: -36px;
	-pie-background: rgba(68, 68, 68, 0.9);
}

#u3027popup
{
	z-index: 25;
}

#u3028
{
	z-index: 26;
	width: 677px;
	height: 423px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u3030
{
	z-index: 28;
	width: 677px;
	height: 423px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u3032
{
	z-index: 30;
	width: 677px;
	height: 423px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u3034
{
	z-index: 32;
	width: 677px;
	height: 423px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u3036
{
	z-index: 34;
	width: 677px;
	height: 423px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u3012
{
	position: absolute;
	width: 344px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 132px;
}

#u3012:hover
{
	margin: 0px;
}

#u3012popup
{
	z-index: 36;
}

#u3017
{
	z-index: 37;
	width: 100px;
	height: 100px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 12px;
}

#u3019
{
	z-index: 39;
	width: 100px;
	height: 100px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 122px;
}

#u3015
{
	z-index: 41;
	width: 100px;
	height: 100px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 232px;
}

#u3017:hover,#u3019:hover,#u3015:hover
{
	border-color: #6B6B6B;
	opacity: 0.69;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=69)";
	filter: alpha(opacity=69);
	margin: 0px -10000px 0px 0px;
}

#u3013
{
	z-index: 43;
	width: 100px;
	height: 100px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 110px;
	left: 12px;
}

#u3021
{
	z-index: 45;
	width: 100px;
	height: 100px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 110px;
	left: 122px;
}

#u3013:hover,#u3021:hover
{
	border-color: #6B6B6B;
	opacity: 0.69;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=69)";
	filter: alpha(opacity=69);
	margin: 110px -10000px 0px 0px;
}

#u3003-4
{
	position: absolute;
	width: 10px;
	min-height: 10px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	color: #14ACC0;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 200px;
	left: -52px;
}

#u3003-4popup
{
	z-index: 47;
}

#u3024-4
{
	position: absolute;
	width: 10px;
	min-height: 10px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	color: #14ACC0;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 200px;
	left: 670px;
}

#u3024-4popup
{
	z-index: 51;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../../images/loading.gif") no-repeat center center;
}

#u2554
{
	z-index: 2;
	width: 61px;
	margin-left: 160px;
	margin-top: 27px;
}

#u2556-4
{
	z-index: 4;
	width: 156px;
	min-height: 25px;
	margin-left: 112px;
	margin-top: 5px;
}

#u2565
{
	z-index: 22;
}

#u2565-bw
{
	z-index: 22;
	margin-top: 28px;
}

#u2558-4
{
	z-index: 12;
	width: 157px;
	min-height: 20px;
	margin-left: 112px;
	margin-top: 23px;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
}

