.parrafo,.title
{
	font-family: gudea-n4, sans-serif;
}

#u271-4
{
	font-family: muli-n4, sans-serif;
}

#u287-4
{
	font-family: muli-n4, sans-serif;
}

#u296-4
{
	font-family: muli-n4, sans-serif;
}

#u832-4
{
	font-family: muli-n4, sans-serif;
}

#u850-4
{
	font-family: muli-n4, sans-serif;
}

#u855-6
{
	font-family: muli-n4, sans-serif;
}

#u301-4
{
	font-family: muli-n4, sans-serif;
}

#u308-4
{
	font-family: muli-n4, sans-serif;
}

#u1660-4
{
	font-family: muli-n3, sans-serif;
}

#u1648-4
{
	font-family: muli-n3, sans-serif;
}

#u1661,#u1655,#u1662,#u1654-4
{
	font-family: muli-n3, sans-serif;
}

#widgetu1657_input,#widgetu1657_prompt,#widgetu1647_input,#widgetu1647_prompt,#widgetu1651_input,#widgetu1651_prompt
{
	font-family: muli, sans-serif;
}

#u1664-6
{
	font-family: muli-n3, sans-serif;
}

