.version.local10 /* version checker */
{
	color: #000007;
	background-color: #7B870F;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 900px;
	min-height: 500px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-top: 148px;
}

#u259
{
	z-index: 44;
	height: 76px;
	top: 0px;
}

#u259-bw
{
	z-index: 44;
}

#u260
{
	z-index: 45;
	width: 66px;
	top: 0px;
	left: 34px;
}

#menuu266
{
	z-index: 47;
	width: 572px;
	top: 0px;
	left: 50%;
	margin-left: -269px;
}

#u267
{
	width: 87px;
	min-height: 76px;
	margin-right: -10000px;
}

#u270
{
	width: 87px;
	padding-bottom: 63px;
}

#u271-4
{
	width: 54px;
	min-height: 13px;
	margin-right: -10000px;
	top: 31px;
	left: 16px;
}

#u270:hover #u271-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px -10000px 0px 0px;
}

#u283
{
	width: 147px;
	min-height: 76px;
	margin-right: -10000px;
	left: 89px;
}

#u284
{
	width: 147px;
	padding-bottom: 63px;
}

#u287-4
{
	width: 114px;
	min-height: 13px;
	margin-right: -10000px;
	top: 31px;
	left: 16px;
}

#u270.MuseMenuActive #u271-4,#u284:hover #u287-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px -10000px 0px 0px;
}

#u290
{
	width: 114px;
	min-height: 76px;
	margin-right: -10000px;
	left: 238px;
}

#u293
{
	width: 114px;
	padding-bottom: 63px;
}

#u296-4
{
	width: 81px;
	min-height: 13px;
	margin-right: -10000px;
	top: 31px;
	left: 16px;
}

#u284.MuseMenuActive #u287-4,#u293:hover #u296-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px -10000px 0px 0px;
}

#u291
{
	width: 113px;
	top: 76px;
}

#u830
{
	width: 113px;
	padding-bottom: 39px;
	margin-right: -10000px;
}

#u830:hover
{
	margin: 0px -10000px 0px 0px;
}

#u832-4
{
	width: 41px;
	min-height: 12px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 19px;
	left: 32px;
}

#u830:hover #u832-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 12px;
	margin: 0px -10000px 0px 0px;
}

#u847
{
	width: 113px;
	padding-bottom: 39px;
	margin-right: -10000px;
}

#u830.MuseMenuActive,#u847:hover
{
	margin: 0px -10000px 0px 0px;
}

#u850-4
{
	width: 98px;
	min-height: 12px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 19px;
	left: 4px;
}

#u830.MuseMenuActive #u832-4,#u847:hover #u850-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 12px;
	margin: 0px -10000px 0px 0px;
}

#u847.MuseMenuActive #u850-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 12px;
	margin: 0px -10000px 0px 0px;
}

#u292,#u829,#u844,#u851
{
	width: 113px;
}

#u854
{
	width: 113px;
	padding-bottom: 27px;
	margin-right: -10000px;
}

#u847.MuseMenuActive,#u854:hover
{
	margin: 0px -10000px 0px 0px;
}

#u854.MuseMenuActive
{
	margin: 0px -10000px 0px 0px;
}

#u855-6
{
	width: 68px;
	min-height: 24px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 13px;
	left: 19px;
}

#u854:hover #u855-6
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 24px;
	margin: 0px -10000px 0px 0px;
}

#u854.MuseMenuActive #u855-6
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 24px;
	margin: 0px -10000px 0px 0px;
}

#u297
{
	width: 121px;
	min-height: 76px;
	margin-right: -10000px;
	left: 354px;
}

#u298
{
	width: 121px;
	padding-bottom: 63px;
}

#u301-4
{
	width: 89px;
	min-height: 13px;
	margin-right: -10000px;
	top: 31px;
	left: 16px;
}

#u293.MuseMenuActive #u296-4,#u298:hover #u301-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px -10000px 0px 0px;
}

#u304
{
	width: 95px;
	min-height: 76px;
	margin-right: -10000px;
	left: 477px;
}

#u307
{
	width: 95px;
	padding-bottom: 63px;
}

#u270.MuseMenuActive,#u284.MuseMenuActive,#u293.MuseMenuActive,#u298.MuseMenuActive,#u307:hover
{
	margin: 0px;
}

#u308-4
{
	width: 63px;
	min-height: 13px;
	margin-right: -10000px;
	top: 31px;
	left: 16px;
}

#u298.MuseMenuActive #u301-4,#u307:hover #u308-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px -10000px 0px 0px;
}

#u307.MuseMenuActive #u308-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px -10000px 0px 0px;
}

#u1215
{
	z-index: 100;
	width: 40px;
	top: 18px;
	right: 23px;
}

#u1217
{
	z-index: 102;
	width: 40px;
	top: 18px;
	right: 23px;
}

#u307.MuseMenuActive,#u1217:hover
{
	margin: 0px;
}

#u810-4
{
	z-index: 38;
	width: 183px;
	min-height: 42px;
	background-color: transparent;
	line-height: 28px;
	text-align: left;
	font-size: 23px;
	margin-left: 125px;
	position: relative;
}

#u807-30
{
	z-index: 8;
	width: 694px;
	min-height: 561px;
	background-color: transparent;
	margin-left: 125px;
	margin-top: 20px;
	position: relative;
}

#pu1789
{
	width: 0.01px;
	padding-bottom: 460px;
	margin-left: 885px;
	margin-top: -421px;
}

#u1789
{
	z-index: 6;
	width: 115px;
	bottom: 0px;
	right: 0px;
}

#u904
{
	z-index: 42;
	width: 83px;
	background-color: transparent;
	position: fixed;
	bottom: 0px;
	right: 17px;
}

#u936-4
{
	z-index: 2;
	width: 157px;
	min-height: 20px;
	margin-left: 372px;
	top: -26px;
	margin-bottom: -20px;
}

body
{
	position: relative;
	min-width: 900px;
}

#page .verticalspacer
{
	clear: both;
}

